.html {
    height: 100%;
}
.slick-container {
    height: 70%;
    border-radius: 0;
}
.slick-slider, .slick-list, .slick-track {
    height: 100%;
    border-radius: 0;
}

.slick-slide {
    height:450px;
    border-radius: 0!important;
    padding: 0px!important;
    margin: 0px!important;
}

.slick-slide img {
    height:450px;
    border-radius: 0;
}
.slick-active, .slick-track {
    border-radius: 0;
}
.splide__arrow {
    background: transparent;
    width: 2em!important;
    height: 2em!important;
}
.splide__arrow svg {
    width: 2em!important;
    height: 2em!important;
}

/* Default color for the marquee */
#marquee {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    color: white;
}

.gemini {
    background: radial-gradient(circle,blue,white);
    background-clip: text;
    color: transparent;
    animation: gemini 15s linear infinite;
    background-size: 200% 200%;
}
@keyframes gemini {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100%{
        background-position: 0% 0%;
    }
}

.gemini-2 {
    background: radial-gradient(circle,red,white);
    background-clip: text;
    color: transparent;
    animation: gemini-2 10s linear infinite;
    background-size: 200% 200%;
}
@keyframes gemini-2 {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100%{
        background-position: 0% 0%;
    }
}
.gemini-3 {
    background: radial-gradient(circle,blue,red);
    background-clip: text;
    color: transparent;
    animation: gemini-3 15s linear infinite;
    background-size: 200% 200%;
}
@keyframes gemini-3 {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100%{
        background-position: 0% 0%;
    }
}

.property {
    position: relative;
}
.category-badge {
    position: absolute;
    background: rgba(0, 0, 0, 0.67);
    color: white;
    padding: 1px 5px;
    border-radius: 4px;
    font-size: 12px;
    left: .5em;
    top: .5em;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.74);
}